body {
  #kitBuilder {
    .kb-page-customize {
      .kb-page-product{
        .kb-partial-wrap {
          background: #f5f5f5;
        }
        .kb-design-img{
          background: #fff;
        }
      }
      .kb-breadcrumbs {
        display: none !important;
      }
    }
    .kb-3d-wrapper {
      width: auto !important;
      height: 85vh !important;

      canvas {
        width: 100% !important;
        //height: 550px !important;
      }
    }
  }
}


