.xcreator-index-index {
    .page-main {
      max-width: none;
      padding: 0px !important;
    }
}
.xcreator-index-view {
  .page-main {
    max-width: none;
    padding: 0px !important;
  }
}

/* fix */
.page-products.catalog-category-view {
  .page-wrapper {
    .page-main {
      max-width: 1170px !important;
    }
  }
}