.xcreator-header{
  background: #191a1a;
  min-height: 64px;
  max-height: 64px;
  color: #ffffff;
  p {
    font-size: 18px;
    float: left;
  }
  span{
    font-size:25px;
    font-weight: bold;
    float: left;
  }
}
.xcreator-logo {
  padding: 0px;
  width: 260px;
  float: left;
    .logo{
      background: url("../images/logo.svg");
      margin:0px !important;
      height:64px;
      vertical-align: middle;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding-left:19px;
      }
    }
    .logo-text{
      background: url("../images/logo-text.svg");
      margin:0px !important;
      height:64px;
      vertical-align: middle;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding-left:19px;
      }
    }
}

.xcreator-price {
  float: left;
}


