body {
  #kitBuilder {
    .kb-page-customize {
      .kb-3d-wrapper {
        width: auto !important;
        height: 85vh !important;

        canvas {
          width: 100% !important;
          //height: 550px !important;
        }
      }


      .kb-preview-panel {
        float: left !important;
        width: calc(~"100% - 512px") !important;
        margin: 0px !important;
        padding: 0px !important;

        .kb-preview-panel-inner {
          background: #ddd;
          width: 100% !important;
          height: 100% !important;

          .kb-preview-image {
            height: 100% !important;
            width: 100% !important;

            .kb-vector-wrapper {
              width: 100% !important;
              height: 100% !important;
              padding: 0px !important;
              margin: 0px !important;

            }
          }
        }
      }
    }
  }
}

