<?php  if ($block->isEnable()){ ?>

<?php echo $block->getKitBuyilderScript(); ?>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v14.0" nonce="14t98MQA"></script>

<div class="xcreator-wraper">
    <div class="xcreator-header">
        <div class="xcreator-logo">
            <div class="logo"><a href="/xcreator/index/index#/catalogue/company-training"><img src="<?php echo $this->getViewFileUrl('Kowal_Xcreator::images/logo.svg'); ?>"/></a></div>
            <div class="logo-text"><a href="/xcreator/index/index#/catalogue/company-training"><img src="<?php echo $this->getViewFileUrl('Kowal_Xcreator::images/logo-text.svg'); ?>"/></a></div>
            <div id="shareBtn" class="btn btn-success clearfix"><?= __("Share");?></div>
        </div>
        <!--
        <div class="xcreator-price">
            <p>koszt</p>
            <span> 150 zł</span>
            <p>/ szt</p>
        </div>
        <div class="xcreator-delivery">
            <p>czas :</p>
            <span>5 dni</span>
        </div>
         -->
    </div>
<div id="kitBuilder"><noscript>Kit Builder requires JavaScript to be enabled</noscript></div>
</div>

    <script>
        document.getElementById('shareBtn').onclick = function() {
            var curent_url = window.location.href;
            var view_url = curent_url.replace('/index/index', '/index/view');
            console.log(view_url);
            FB.ui({
                display: 'popup',
                method: 'share',
                href: view_url,
            }, function(response){

            });
        }
    </script>
<?php }else{
    echo __("strona w budowie...");
} ?>