<?php  if ($block->isEnable()){ ?>

<?php echo $block->getKitBuyilderScript(); ?>
<div class="xcreator-wraper view">
    <div class="xcreator-header">
        <div class="xcreator-logo">

            <div class="logo"><a href="/xcreator/index/view#/catalogue/company-training"><img src="<?php echo $this->getViewFileUrl('Kowal_Xcreator::images/logo.svg'); ?>"/></a></div>
            <div class="logo-text"><a href="/xcreator/index/view#/catalogue/company-training"><img src="<?php echo $this->getViewFileUrl('Kowal_Xcreator::images/logo-text.svg'); ?>"/></a></div>
        </div>
        <!--
        <div class="xcreator-price">
            <p>koszt</p>
            <span> 150 zł</span>
            <p>/ szt</p>
        </div>
        <div class="xcreator-delivery">
            <p>czas :</p>
            <span>5 dni</span>
        </div>
         -->
    </div>
<div id="kitBuilder"><noscript>Kit Builder requires JavaScript to be enabled</noscript></div>
</div>
<?php }else{
    echo __("strona w budowie...");
} ?>